<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head lang="en" th:fragment="head">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
              th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
              rel="stylesheet" media="screen" />

        <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
                th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

        <script src="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/js/bootstrap.min.js"
                th:src="@{/webjars/bootstrap/3.3.4/js/bootstrap.min.js}"></script>

       <!-- <script src="../static/js/common.js"
                th:src="@{/js/common.js}"></script>-->
        <script src="../static/js/pag.js"
                th:src="@{/js/pag.js}"></script>

        <link href="../static/css/guru.css"
              th:href="@{/css/guru.css}" rel="stylesheet" media="screen"/>

        <link href="../static/css/footer_create.css"
              th:href="@{/css/footer_create.css}" rel="stylesheet" media="screen"/>

    </head>

<body>

<div class="container">
    <div class="row">
        <div class="table-responsive">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <div th:if="${not #lists.isEmpty(customers)}">
        <h2>Customers List</h2>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Id</th>
                <th>NameOrg</th>
                <th>NamePerson</th>
                <th>View</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody id="myTable">
            <tr th:each="customer : ${customers}">
                <td th:text="${customer.id}"><a href="/customer/${customer.id}">Id</a></td>
                <td th:text="${customer.nameO}">nameOrganization</td>
                <td th:text="${customer.nameP}">namePerson</td>
                <td><a th:href="${'/customer/' + customer.id}">View</a></td>
                <td><a th:href="${'/customer/edit/' + customer.id}">Edit</a></td>
                <td><a th:href="${'/customer/delete/' + customer.id}">Delete</a></td>
            </tr>
            </tbody>
        </table>

    </div>
            <div class="col-md-12 text-center">
                <ul class="pagination pagination-lg pager" id="myPager"></ul>
            </div>
        </div>
    </div>

    <!--
    <footer class="footer">
        <div class="container">
            <p class="text-muted"> </p>
        </div>
    </footer>   -->

</div>
<footer>

    <ul>
        <li>
            <p class="home"></p>
            <a class="logo" href="#" th:href="@{/}">GSC <i>&copy; 2016</i></a>
        </li>
        <li>
            <p class="services"></p>
            <ul>
            </ul>
        </li>

        <li>
            <p class="reachus"></p>
            <ul>
            </ul>
        </li>
        <li>
            <p class="clients"></p>

            <ul>
            </ul>
        </li>
    </ul>

</footer>

</body>
</html>