<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:fragment="head">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

    <script src="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/3.3.4/js/bootstrap.min.js}"></script>

    <link href="../static/css/guru.css"
          th:href="@{/css/guru.css}" rel="stylesheet" media="screen"/>

    <link href="../static/css/footer_create.css"
          th:href="@{/css/footer_create.css}" rel="stylesheet" media="screen"/>

</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

    <h2>Documents</h2>
    <div>
        <form data-toggle="validator" role="form" class="form-horizontal" th:object="${mainDoc}" th:action="@{/mainDoc}"
              method="post">

            <input type="hidden" class="form-control" th:field="*{id}"/>

            <div class="form-group">
                <label class="col-sm-2 control-label">DocumentID :</label>
                <div class="col-sm-10 center-block">
                    <input type="text" class="form-control" th:field="*{docID}" th:required="true"/>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Category :</label>
                <div class="col-sm-10 center-block">
                    <select th:field="*{category}" th:required="true" class="form-control">
                        <option th:value="0">Select category</option>
                        <option th:each="category : ${categories}" th:value="${category.id}"
                                th:text="${category.name}"></option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">Executant :</label>
                <div class="col-sm-10 center-block">
                    <select th:field="*{executant}" th:required="true" class="form-control">
                        <option th:value="0">Select executant</option>
                        <option th:each="executant : ${executants}" th:value="${executant.id}"
                                th:text="${executant.PIB}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Discription :</label>
                <div class="col-sm-10 center-block">
                    <input type="text" class="form-control" th:field="*{shortDis}" th:required="true"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">DateInput :</label>
                <div class="col-sm-10 center-block">
                    <input type="date" class="form-control" pattern="dd/MM/yyyy" th:field="*{dateCome}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">DateDone :</label>
                <div class="col-sm-10 center-block">
                    <input type="date" class="form-control" pattern="dd/MM/yyyy" th:field="*{dateDone}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Customer :</label>
                <div class="col-sm-10 center-block">
                    <select th:field="*{customer}" th:required="true" class="form-control">
                        <option th:value="0">Select customer</option>
                        <option th:each="customer : ${customers}" th:value="${customer.id}"
                                th:text="${customer.nameO}"></option>
                    </select>
                </div>
            </div>

            <div>
                <button type="submit" class="btn btn-primary" id="btn_doc">Add</button>
            </div>

        </form>

    </div>

    <!--
    <footer class="footer">
        <div class="container">
            <p class="text-muted"> </p>
        </div>
    </footer>   -->

</div>

<footer>

    <ul>
        <li>
            <p class="home"></p>
            <a class="logo" href="#" th:href="@{/}">GSC <i>&copy; 2016</i></a>
        </li>
        <li>
            <p class="services"></p>
            <ul>
            </ul>
        </li>

        <li>
            <p class="reachus"></p>
            <ul>
            </ul>
        </li>
        <li>
            <p class="clients"></p>

            <ul>
            </ul>
        </li>
    </ul>

</footer>
</body>
</html>